.about-container {
    .about-section {
        max-width: 800px;
        // background: rgba(48, 48, 48, .15);
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding: 10rem 6rem;
        color: #fefefe;
        .about-text {
            margin-left: 2rem;
            h3 {
                font-size: 2rem;
                padding: 0;
                margin: 0;
            }
            p {
                font-family: Roboto-light;
                font-size: 1.5rem;
                font-weight: 100;
                line-height: 2.2rem;
            }
        }
        .about-picture {
            width: 200px;
            height: 200px;
            border-radius: 8px;
            background: #444;
        }
        @media screen and (max-width: 900px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            background: none;
            padding: 2rem 0;
            .about-text {
                margin-left: 0;
                padding: 0 1.5rem;
            }
            .about-picture {
                margin-bottom: 1rem;
            }
        }
    }
}