<!--<a name="about"></a>
<div class="about-container">
    <div class="about-section">
        <img class="about-picture" src="./assets/images/ian.jpeg" alt="A picture of me, Ian McGonigle at Galvanize">
        <div class="about-text">
            <h3>Hi I'm Ian,</h3>
            <p>
                I'm a Full Stack Developer that specializes in the use of JavaScript frameworks such as Angular 1 & 2 to create web applications that feature rich user dashboards. I have been programming since 2005 and I have experience working with a wide variety of
                technologies.
            </p>
        </div>
    </div>
</div>-->

<section>
    <div class="section-title">Get In Touch</div>
    <div class="section-description">Send me an email I would love to hear about what you're working on. I would be happy to help out in any way I can.</div>
    <div class="section-link"><a href="mailto:ian@ianmcgonigle.com">Email Me</a></div>
</section>