<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer__middle-section">

        <div class="mdl-mega-footer__drop-down-section">
            <h1 class="mdl-mega-footer__heading">Find Me On</h1>
            <ul class="mdl-mega-footer__link-list">
                <li><a target="_blank" href="https://www.github.com/imcgonigle/">GitHub @imcgonigle</a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/imcgonigle/">LinkedIn @imcgonigle</a></li>
                <li><a target="_blank" href="https://www.twitter.com/mcgonigleian/">Twitter @mcgonigleian</a></li>
            </ul>
        </div>
        <div class="mdl-mega-footer__drop-down-section">
            <h1 class="mdl-mega-footer__heading">Contact Me</h1>
            <ul class="mdl-mega-footer__link-list">
                <li><a href="mailto:ian@ianmcgonigle.com" target="_top">Email: ian@ianmcgonigle.com</a></li>
            </ul>
        </div>

    </div>

    <div class="mdl-mega-footer__bottom-section">
        <div class="mdl-logo">© Ian McGonigle 2017</div>
    </div>

</footer>