<footer>
    <div class="footer-picture">
        <img src="./assets/images/ian.jpeg" alt="A picture of me Ian McGonigle.">
    </div>
    <div class="social-icons">
        <a target="_blank" href="https://www.linkedin.com/in/imcgonigle/"><i class="fi-social-linkedin"></i></a>
        <a target="_blank" href="https://www.github.com/imcgonigle/"><i class="fi-social-github"></i></a>
        <a target="_blank" href="https://www.twitter.com/mcgonigleian/"><i class="fi-social-twitter"></i></a>
    </div>
    <a class="footer-action" href="#">Back to the top</a>
</footer>