<div class="contact-container">
    <div class="contact-section">
        <div class="email-section">
            <span class="contact-email">Email: ian@ianmcgonigle.com</span>
        </div>
        <div class="social-links">
            <a target="_blank" href="https://www.github.com/imcgonigle/"><i class="fi-social-github"></i> GitHub @imcgonigle</a>
            <a target="_blank" href="https://www.linkedin.com/imcgonigle/"><i class="fi-social-linkedin"></i> Linkedin @imcgonigle</a>
            <a target="_blank" href="https://www.twitter.com/mcgonigleian/"><i class="fi-social-twitter"></i> Twitter @mcgonigleian</a>
        </div>
    </div>
</div>