<a name="contact"></a>
<div class="contact-container">
    <div class="contact-section">
        <div class="social-links">
            <a href="mailto:ian@ianmcgonigle.com"><i class="fi-mail"></i></a>
            <a target="_blank" href="https://www.linkedin.com/imcgonigle/"><i class="fi-social-linkedin"></i></a>
            <a target="_blank" href="https://www.github.com/imcgonigle/"><i class="fi-social-github"></i></a>
            <a target="_blank" href="https://www.twitter.com/mcgonigleian/"><i class="fi-social-twitter"></i></a>
        </div>
    </div>
</div>