.contact-container {
    background: #333;
    .contact-section {
        background: rgba(200, 0, 0, .5);
        margin: auto;
        max-width: 980px;
        height: 5rem;
        .social-links {
            display: flex;
            width: 100%;
            justify-content: center;
        }
    }
}