<div class="contact-container">
    <div class="contact-section">
        <div class="social-links">
            <a target="_blank" href="https://www.github.com/imcgonigle/"><i class="fi-social-github about-icon"></i> GitHub @imcgonigle</a>
            <a target="_blank" href="https://www.linkedin.com/imcgonigle/"><i class="fi-social-linkedin about-icon"></i> Linkedin @imcgonigle</a>
            <a target="_blank" href="https://www.twitter.com/mcgonigleian/"><i class="fi-social-twitter about-icon"></i> Twitter @mcgonigleian</a>
        </div>
    </div>
</div>