.contact-container {
    box-shadow: 2px 3px 6px #333;
    background: #111;
    .contact-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding: 1rem;
        max-width: 980px;
        .social-links {
            display: flex;
            justify-content: space-around;
            width: 100%;
            a {
                text-decoration: none;
                color: #fff;
            }
            i {
                font-size: 3rem;
                &.fi-mail {
                    color: #fefefe;
                    &:hover {
                        color: #1DA1F2;
                    }
                }
                &.fi-social-twitter {
                    color: #1DA1F2;
                    &:hover {
                        color: #fefefe;
                    }
                }
                &.fi-social-linkedin {
                    color: #0177B5;
                    &:hover {
                        color: #fefefe;
                    }
                }
                &.fi-social-github {
                    color: #fefefe;
                    &:hover {
                        color: #1DA1F2;
                    }
                }
            }
        }
    }
}