.contact-container {
    background: #333;
    .contact-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding: 1rem;
        max-width: 980px;
        .email-section {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 1rem;
            .contact-email {
                font-family: Roboto-thin;
                font-size: 1.5rem;
                color: #fff;
            }
        }
        .social-links {
            display: flex;
            justify-content: space-around;
            width: 100%;
            i,
            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}