<section>
    <div class="section-title">Work</div>
    <div class="section-description">You can see more of my work on <a href="https://www.github.com/imcgonigle" target="_blank">GitHub</a>.</div>
    <div class="project">
        <div class="project-details">
            <div class="project-title">Heart 2 Heart</div>
            <div class="project-overview">Mobile application developed with a 3rd grade class.</div>
            <div class="project-description">
                <strong>Heart 2 Heart</strong> is a mobile application that was designed and developed with the help of Ms. Easter's & Mrs. Johnson's 3rd grade class. <strong>Heart 2 Heart</strong> helps you improve your mood by providing you with a variety
                of resourcs that will cheer you up.
            </div>
            <div class="project-link">
                <a href="https://github.com/imcgonigle/heart-2-heart-ionic" target="_blank">View Code</a>
            </div>
        </div>
        <div class="project-image">
            <img src="/assets/images/sample-project.png" alt="Project sample.">
        </div>
    </div>
    <hr>
    <div class="project row-reverse">
        <div class="project-details">
            <div class="project-title">Inventory Up</div>
            <div class="project-overview">Web application that solves a real world problem.</div>
            <div class="project-description">
                <strong>Inventory Up</strong> allows you to easily manage inventories of any size from anywhere. <strong>Inventory Up</strong> runs completely in the browser so you can use it on your phone, laptop, or desktop machine.
            </div>
            <div class="project-link">
                <a href="https://github.com/imcgonigle/Inventory-Up" target="_blank">View Code</a>
            </div>
        </div>
        <div class="project-image">
            <img src="/assets/images/sample-project.png" alt="Project sample.">
        </div>
    </div>
</section>