<section>
    <div class="section-title">Work</div>
    <div class="section-description">You can see more of my work on <a href="https://www.github.com/imcgonigle" target="_blank">GitHub</a>.</div>
    <div class="project">
        <div class="project-details">
            <div class="project-title">Heart 2 Heart</div>
            <div class="project-overview">Mobile application developed with a 3rd grade class.</div>
            <div class="project-description">
                Heart 2 Heart is a Mobile applications that was designed by a class of 3rd grade students to help users manage their emotions.
            </div>
            <div class="project-link">
                <a href="#">Visit Repo</a>
            </div>
        </div>
        <div class="project-image"></div>
    </div>
</section>