<a name="banner"></a>
<div class="banner-container">
    <div class="blurb">
        <h1>Hi, my name is <strong>Ian McGonigle</strong>.</h1>
        <div class="hr-with-text">
            <hr>
            <span>I'm A</span>
            <hr>
        </div>
        <h1 class="subheader">Full-Stack Developer</h1>
        <span class="social-icons">
            <a target="_blank" href="https://www.linkedin.com/in/imcgonigle/"><i class="fi-social-linkedin"></i></a>
            <a target="_blank" href="https://www.github.com/imcgonigle/"><i class="fi-social-github"></i></a>
            <a target="_blank" href="https://www.twitter.com/mcgonigleian/"><i class="fi-social-twitter"></i></a>
        </span>
    </div>

</div>