<a name="banner"></a>
<div class="banner-container">
    <h1>Ian McGonigle</h1>
    <h1 class="subheader">Full-Stack Developer</h1>
    <p>
        Hi, my name is Ian. I'm a Full-Stack developer that specializes in developing web applications that help users solve real world problems using <span class="text-angular">Angular</span> and <span class="text-typescript">TypeScript</span> on the
        front-end and <span class="text-node">Node</span> and <span class="text-express">Express</span> on the back-end.
    </p>
</div>