.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: #457fca;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5691c8, #457fca);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5691c8, #457fca);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .blurb {
        padding: 1.5rem;
        text-align: center;
        color: #fff;
        h1 {
            margin: 1rem;
            &.subheader {
                font-size: 3rem;
                color: #ccc;
            }
            @media (max-width: 800px) {
                font-size: 2.8rem;
                &.subheader {
                    font-size: 2.1rem;
                }
            }
        }
        .hr-with-text {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 2.7rem;
            hr {
                width: 3rem;
                margin: 0 1rem;
                border-top: 3px solid #eee;
                @media (max-width: 800px) {
                    border-top: 3px solid #eee;
                }
            }
            @media (max-width: 800px) {
                font-size: 2rem;
            }
        }
        .social-icons {
            i {
                padding: 1rem;
                font-size: 3rem;
                color: #eee;
                &:hover {
                    color: #333;
                }
            }
        }
    }
}