<a name="banner"></a>
<div class="banner-container">
    <h1>Ian McGonigle</h1>
    <h1 class="subheader">Full-Stack Developer</h1>
    <p>
        Hi, my name is Ian. I'm a Full-Stack developer that specializes in developing web applications that help users solve real world problems using <span style="color: #C3002F;">Angular</span> and <span style="color: #74bce2">TypeScript</span> on the
        front-end and <span style="color: #57AF37;">Node</span> and <span style="color: #333;">Express</span> on the back-end.
    </p>
</div>