<section>
    <div class="section-title">What Can I Do?</div>
    <div class="section-statement">Here are a few things I do really well.</div>
    <div class="skill-blocks">
        <div class="skill-block">
            <div class="skill-icon"><i class="fi-web"></i></div>
            <div class="skill-title">Front-End</div>
            <div class="skill-description">I'm an experienced <strong>JavaScript</strong> developer that uses frameworks like <strong>Angular</strong>, <strong>React</strong>, and <strong>Vue.js</strong>. I also take advantage of the popular <strong>CSS</strong> prerocessor <strong>SCSS</strong>                when developing beautiful Single Page Applications.</div>
        </div>
        <div class="skill-block">
            <div class="skill-icon"><i class="fi-power"></i></div>
            <div class="skill-title">Back-End</div>
            <div class="skill-description">On the back-end I have experience setting up servers using <strong>Java</strong> and <strong>C#</strong>. My favorite back-end technologies to use though are <strong>Node</strong> and <strong>Express.js</strong>.</div>
        </div>
        <div class="skill-block">
            <div class="skill-icon"><i class="fi-cloud"></i></div>
            <div class="skill-title">Deployment</div>
            <div class="skill-description">When it come time to finally deploy an application I have experience with <strong>Linux</strong>, <strong>Firebase</strong>, <strong>Heroku</strong> and <strong>Digital Ocean</strong>. I've also been exploring the use of <strong>Docker</strong>                for a more fluid experience deploying applications.</div>
        </div>
    </div>
</section>