<section>
    <div class="section-title">What do I do?</div>
    <div class="section-statement">Here are a few things I do really well.</div>
    <div class="skill-blocks">
        <div class="skill-block">
            <div class="skill-icon"><i class="fi-web"></i></div>
            <div class="skill-title">Front-End</div>
            <div class="skill-description">I build front-end web applications using various JavaScript frameworks such as Angular and Vue.js.</div>
        </div>
        <div class="skill-block">
            <div class="skill-icon"><i class="fi-power"></i></div>
            <div class="skill-title">Back-End</div>
            <div class="skill-description">I have experience using several different languages on the back-end but I am most experienced using Node and Express.js.</div>
        </div>
        <div class="skill-block">
            <div class="skill-icon"><i class="fi-cloud"></i></div>
            <div class="skill-title">Deployment</div>
            <div class="skill-description">When it comes to deploying applications I have experience with Linux, Firebase, Heroku and Digital Ocean. Lately I have been exploring the use of Docker for a more fluid experience deploying applications.</div>
        </div>
    </div>
</section>