<section>
    <div class="section-title">My Skills</div>
    <div class="section-statement">Here are a few things I do really well.</div>
    <div class="skill-blocks">
        <div class="skill-block">
            <div class="skill-icon"></div>
            <div class="skill-title"></div>
            <div class="skill-description"></div>
        </div>
        <div class="skill-block">
            <div class="skill-icon"></div>
            <div class="skill-title"></div>
            <div class="skill-description"></div>
        </div>
        <div class="skill-block">
            <div class="skill-icon"></div>
            <div class="skill-title"></div>
            <div class="skill-description"></div>
        </div>
    </div>
</section>