<a name="portfolio"></a>
<div class="portfolio-header">
    <h1 class="title">Projects</h1>
</div>
<div class="mdl-tabs portfolio-container">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a href="#featured-panel" class="mdl-tabs__tab is-active">Featured</a>
            <a href="#in-progress-panel" class="mdl-tabs__tab">In Progress</a>
            <a href="#all-panel" class="mdl-tabs__tab">All</a>
        </div>

        <div class="mdl-tabs__panel is-active" id="featured-panel">
            <div class="portfolio-content" id="featured">
                <div class="projects mdl-grid ">
                    <ng-template ngFor let-project [ngForOf]="projects">
                        <app-project *ngIf="project.isFeatured" [project]="project "></app-project>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="mdl-tabs__panel" id="in-progress-panel">
            <div class="portfolio-content" id="featured">
                <div class="projects mdl-grid">
                    <ng-template ngFor let-project [ngForOf]="projects">
                        <app-project *ngIf="!project.isFinished" [project]="project "></app-project>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="mdl-tabs__panel" id="all-panel">
            <div class="portfolio-content" id="featured">
                <div class="projects mdl-grid">
                    <app-project *ngFor="let project of projects" [project]="project "></app-project>
                </div>
            </div>
        </div>
    </div>

</div>