.portfolio-container {
    height: 30rem;
    padding: 4rem 0rem;
    background: #fefefe;
    h3 {
        margin: 0;
        padding: 3rem;
        font-size: 2rem;
        color: #333;
    }
    .portfolio-content {
        max-width: 1080px;
        margin: auto;
        padding-bottom: 3rem;
        .projects {
            justify-content: space-around;
        }
    }
}