<div class="portfolio-container">
    <div class="portfolio-content">
        <h3>What am I working on now?</h3>
        <div class="projects mdl-grid">

            <div class="project mdl-cell mdl-cell--3-col">

            </div>
            <div class="project mdl-cell mdl-cell--3-col">

            </div>
            <div class="project mdl-cell mdl-cell--3-col">

            </div>
            <div class="project mdl-cell mdl-cell--3-col">

            </div>
            <div class="project mdl-cell mdl-cell--3-col">

            </div>
            <div class="project mdl-cell mdl-cell--3-col">

            </div>
        </div>
    </div>
</div>