<div class="app-container mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <app-header [title]="title" class="mdl-layout__header mdl-layout__header"></app-header>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="about-container">
                <div class="about-section">
                    <img class="about-picture" src="" alt="">
                    <div class="about-text">
                        <h3>Hi I'm Ian,</h3>
                        <p>
                            I'm a Full Stack Developer that specializes in the use of JavaScript frameworks such as Angular 1 & 2 to create web applications that feature rich user dashboards. I have been programming since 2016 and I have experience working with a wide variety of
                            technologies.
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </main>
</div>