<div class="mdl-layout__header-row mdl-color--grey-900 mdl-color-text--light-blue-200">
    <!-- Title -->
    <span class="mdl-layout-title">{{ title }}</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="#about">About</a>
        <a class="mdl-navigation__link" href="#portfolio">Portfolio</a>
    </nav>
</div>