<md-toolbar class="toolbar-primary">
    <span class="title">{{title}}</span>
    <span class="spacer"></span>
    <nav class="toolbar-nav">
        <a md-button class="button-secondary" href="#about">About</a>
        <a md-button class="button-secondary" href="#contact">Contact</a>
        <a md-button class="button-primary" href="#portfolio">Portfolio</a>
    </nav>
    <div class="mobile-navigation">
        <a class="btn" href="#">
            <i class="fi fi-list" aria-hidden="true"></i>
        </a>
    </div>
</md-toolbar>