/* You can add global styles to this file, and also import other style files */

.text-node {
    color: #57AF37;
}

.text-angular {
    color: #C3002F;
}

.text-express {
    color: #333;
}

.text-typescript {
    color: #74bce2;
}